.router-links {
    display: flex;
    justify-content: space-evenly;    
    padding: 14px 20px;
    border: 2px solid;
    background-color: black;
}

.router-links a{
    text-decoration: none;
    color: white;
}
.router-links a:hover {
    text-decoration: underline;
}

.router-links .active{
    text-decoration: underline;
}

